.card {
  .header {
    background-color: var(--color-secondary);
    padding: 10px;
    font-weight: bold;
  }
  .body {
    padding: 10px;
  }
  .footer {
    background-color: #f1f1f1;
    padding: 10px;
    font-weight: bold;
  }
}

/* https://web.dev/articles/website-navigation */

.nav {
  & ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin-top: initial;
  }

  /* Basic link styling */
  a {
    --text-color: var(--color-primary);
    border-block-end: 3px solid var(--border-color, transparent);
    color: var(--text-color);
    padding: 0.1rem;
    text-decoration: none;
  }

  /* Change the border-color on :hover and :focus */
  a:where(:hover, :focus) {
    --border-color: var(--color-secondary);
  }

  /* Change border-color and color for the active page */
  [aria-current="page"] {
    --border-color: var(--color-secondary);
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.gallery {
  position: relative;
  display: flex;
  --animation-time: 4s;

  img {
    max-height: 70vh;
    min-width: calc(100vw - 10vw);
    animation-name: fade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 2;
    animation-duration: calc(var(--animation-time) * 4);
    margin-top: initial;
    object-fit: cover;

    &:not(:first-child) {
      position: absolute;
    }

    &:nth-of-type(1) {
      animation-delay: calc(var(--animation-time) * 3);
    }
    &:nth-of-type(2) {
      animation-delay: calc(var(--animation-time) * 2);
    }
    &:nth-of-type(3) {
      animation-delay: calc(var(--animation-time) * 1);
    }
    &:nth-of-type(4) {
      animation-delay: calc(var(--animation-time) * 0);
    }
  }
}

footer {
  list-style: none;

  ul {
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
