.card {
  .header {
    background-color: var(--color-secondary);
    padding: 10px;
    font-weight: bold;
  }
  .body {
    padding: 10px;
  }
  .footer {
    background-color: #f1f1f1;
    padding: 10px;
    font-weight: bold;
  }
}

/* https://web.dev/articles/website-navigation */

.nav {
  & ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin-top: initial;
  }

  /* Basic link styling */
  a {
    --text-color: var(--color-primary);
    border-block-end: 3px solid var(--border-color, transparent);
    color: var(--text-color);
    padding: 0.1rem;
    text-decoration: none;
  }

  /* Change the border-color on :hover and :focus */
  a:where(:hover, :focus) {
    --border-color: var(--color-secondary);
  }

  /* Change border-color and color for the active page */
  [aria-current="page"] {
    --border-color: var(--color-secondary);
  }
}

footer {
  list-style: none;

  ul {
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
