.grid {
  display: grid;
  grid-gap: 1rem;
}

@supports (width: min(250px, 100%)) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  }
}

.center {
  --measure: box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: var(--measure);
}

.with-sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s1);

  & > :first-child {
    flex-grow: 1;
  }

  & > :last-child {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 50%;
  }
}
